<!DOCTYPE html>
<html>
<head>
    <title>City Info</title>

</head>


<body>
<div class="container">


    <div class="page-header">
        <h1>Information for </h1>
        <br>
    </div>


    {#<div class="ui-widget" style="margin-top:2em; font-family:Arial">#}
    {#  Result:#}
    {#  <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>#}
    {#</div>#}


    <div class="row">
        <div class="col-md-6 col-md-4">
            <div class="thumbnail">
                <img src="http://i.imgur.com/4DDzfxa.jpg" alt="">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p><a href="{{ yelp['url'] }}" , target="_blank">{{ yelp['name'] }} </a>{{ yelp['image'] }}</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default"
                                                                                       role="button">Button</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-md-4">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-4">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p><a href="{{ yelp['url'] }}" , target="_blank">{{ yelp['name'] }}</a></p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default"
                                                                                       role="button">Button</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-md-4">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>



</div>
</body>
</html>