<!DOCTYPE html>
<html>
<head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="static/js/welcome.js"></script>
    <script src="static/css/home.css"></script>


</head>
<body>


<div class="container">

  <div class="jumbotron">
            <div class="container text-center">
            <h1>Welcome to <br> When In Rome!</h1>

            <a class="btn btn-default" href="/#/about">About</a>

            </div>
        </div>
</div>


</body>
</html>
