<!DOCTYPE html>
<html>
<head>
    <title>WhereToEat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href={{ url_for('static', filename='index.css') }}></link>
    <link rel="stylesheet" href="/static/easy-autocomplete.min.css">

</head>
<body>
<div class="container-fluid">
    <div class="jumbotron voffset3">
        <h1>WhereToEat</h1>
        <br>
        <form role="form" method="post" onsubmit="return false;">
            <div class="input-group">
                <input type="text" class="form-control" name="city" id="geocomplete" placeholder="Enter a city"
                       required>
                <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" id="submit">Search!</button>
                </span>
            </div>
        </form>
        <button type="submit" class="btn btn-success" id="new-city">Search again!</button>

        <br>
    </div>
    <div id="results">
        <div class="row">
            <div class="col-md-offset-4 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="#" alt="Image not found" id="restImg" class="voffset2">
                    <div class="caption">
                        <h3 id="restName"></h3>
                        <p id="restInfo"></p>
                        <p>
                            <a href="#" class="btn btn-success" role="button" id="restPhone"><span
                                    class="glyphicon glyphicon-earphone"></span></a>
                            <a href="#" class="btn btn-info" role="button" id="restLink">More Info</a>

                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

<script src={{ url_for('static', filename='main.js') }}></script>
<script src="/static/jquery.easy-autocomplete.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src={{ url_for('static', filename='jquery.geocomplete.js') }}></script>


</body>
</html>